/* Whole document: */
body{
  font-family: Arial;
  font-size: 16pt;
}
code.r{
  font-size: 20pt;
  font-family: Arial;
}
h1 { /* Header 1 */
  font-size: 28pt;
  color: DarkBlue;
}
h2 { /* Header 2 */
  font-size: 24pt;
  color: DarkBlue;
}
h3 { /* Header 3 */
  font-size: 20pt;
  color: DarkBlue;
}
pre { /* Code block - determines code spacing between lines */
    font-size: 16pt;
	color: DarkBlue;
}

